<div class="row">
    <div class="col-md-9 mx-auto">
        <div class="card card-body mx-auto">
            <h4>Aplicação Solicitada</h4>
            <p>Usuário: {{user}}</p>
            <p>Aplicação solicitada: {{application}}</p>
            <p></p>
            <label for="exampleFormControlTextarea1">Lista de grupos que o usuário pertence</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" readonly>{{groups}}</textarea>
        </div>
    </div>
</div>