<div class="jumbotron text-center">
  <h1 class="display-4">Bem Vindo</h1>
  <p class="lead">Solicitação de liberação de acesso para aplicativos virtualizados</p>
  <hr class="my-4">
  <p>Preencha o formulário, indicando a aplicação a ser liberada.</p>
  <a class="btn btn-primary btn-lg" href="/request/new" role="button">Solicitação</a>
</div>